body {
  font-family: "Roboto", sans-serif;
}
.weather-app {
  max-width: 600px;
  background-color: rgba(3, 87, 117, 0.4);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
  color: #fff;
  margin: 30px auto;
  display: block;
}
.additional-info {
  font-size: 18px;
  list-style-type: none;
}
#icon {
  width: 130px;
}
#city {
  font-size: 35px;
  font-weight: 500;
}
.city-date {
  padding-left: 20px;
}
.search-info {
  line-height: 32px;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}
#current-temperature {
  font-size: 45px;
}
#current-weather {
  font-size: 25px;
  top: -10px;
  left: -93px;
}

#current-temp-max {
  color: orange;
}

#current-temp-min {
  color: #00449d;
}

.units {
  font-size: 25px;
}
.celsius-symbol-max,
.degrees-symbol-max,
.forecast-temp-max {
  color: orange;
}
.degrees-symbol-min,
.forecast-temp-min {
  color: #00449d;
}
.search-bar {
  width: 50%;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  height: 40px;
}

small {
  text-align: center;
  display: block;
}

daily-forecast {
  text-align: center;
  border-radius: 16px;
  background-color: rgba(3, 87, 117, 0.3);
  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

float-left {
  float: left;
}
img {
  display: inline;
}
