body {
  font-family: "Roboto", sans-serif;
}
div.week {
  padding-bottom: 20px;
}
.weather-app {
  max-width: 600px;
  background-color: #d9edfd;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
  color: #fff;
  margin: 30px auto;
  display: block;
}
.additional-info {
  font-size: 18px;
  list-style-type: none;
}
#icon {
  width: 130px;
}
#city {
  font-size: 35px;
  font-weight: 500;
}
.city-date {
  padding-left: 20px;
}
.search-info {
  line-height: 32px;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}
#current-temperature {
  font-size: 40px;
}
#current-weather {
  font-size: 25px;
  position: relative;
  left: -93px;
  top: -10px;
}
#current-temp-max {
  color: hsl(13, 89%, 64%);
}
.units {
  font-size: 25px;
}
.celsius-symbol-min,
.degrees-symbol-max,
.forecast-temp-max {
  color: hsl(13, 89%, 64%);
}
.degrees-symbol-min,
.forecast-temp-min {
  color: #5476d3;
}
.search-bar {
  width: 50%;
  padding: 5px;
  border: 1px solid #ced3e0;
  border-radius: 5px;
  height: 40px;
}
small {
  text-align: center;
}
.photo-source {
  text-align: center;
}
daily-forecast {
  text-align: center;
  border-radius: 16px;
  background-color: rgba(3, 87, 117, 0.3);
  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
  padding: 30px;
}
float-left {
  float: left;
}
